@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body header div.navbar{
    background-color: blue;
}

body main {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

body main div.content{
    flex-basis: 50%;
    margin: auto;
}

body main div.content img{
    height: auto;
    max-width: 100% ;
    padding-top: 25px;
}


body main div.content article p{
    font-size: small;
    line-height: 1.2rem;
    text-indent: 20px;
    text-align: justify;
    text-decoration: none;
    font-weight: 400;
    padding-bottom: 5px;
}

body main div.content article h2{
    padding-top: 10px;
    padding-bottom: 5px;
}


body main div.content article ul{
    list-style-position: inside;
    margin-left: 10px;
    padding-bottom: 15px;
}

body main div.content article ul li{
    font-size: small;
    
}

body main aside{
    background-color: bisque;
    width: 50%;
    padding: 10px 20px;
    flex-basis: 20%;
}

body main aside h4{
    text-align: center;
    padding: 15px;
}

body main aside div.aside-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

body main aside p{
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
}

body main aside div.aside-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 25px;

}

body footer{
    background-color: blueviolet;
    text-align: center;
    padding: 20px 0;
}

body footer div.footer p{
    font-size: smaller;
}

body footer div.footer div{
    display: flex;
    justify-content: center;
}

body footer div.footer div.tect div{
    border: 1px solid #fff;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 999px;
}
    